header {
padding: 20px;
text-align: center;
background: rgb(0,134,179);
color: white;
font-size: 20px;
border: thick solid black;
font-family: 'Cinzel', serif;
}

footer {
  padding: 20px;
  text-align: center;
  background: rgb(0,134,179);
  color: white;
  font-size: 20px;
  border: thick solid black;
  font-family: 'Cinzel', serif;
}

body {
  background-color: #696969;
  max-width: 1100px;
  margin: 0 auto;
}

nav {
  border: 5px solid rgb(66,66,66);
}

nav a {
  font-family: 'Cinzel', serif;
  text-decoration: underline;
  font-weight: none;
  display: block;
  margin: 20px;
  width: 100px;
  float: left;
  color: black;
}

nav a:link {
  color: black;
}

nav a:visited {
  color: rgb(0,134,179);
}

nav a:hover {
  text-decoration: underline;
  font-weight: bold;
}

nav a:active {
  text-decoration:none;
}

.clear-float {
  clear: both;
}
